@if (viewMode){
  @if (currentBoy.id){
    <h4>Boy Dancer</h4>
    <div>
      <label><strong>ID:</strong></label>
      {{ currentBoy.id }}
    </div>
    <div>
      <label><strong>Name:</strong></label> {{ currentBoy.b_name }}
    </div>
    <div>
      <label><strong>Birth year:</strong></label> {{ currentBoy.b_b_year }}
    </div>
    <div class="form-group">
      <h4>Dance Groups</h4>
      <ul class="list-group">
        @for (dance_group of currentBoy.dance_group; track dance_group.id; let i = $index) {
          <li
            class="list-group-item"
          >
            {{ dance_group.name }}
          </li>
        }
      </ul>
    </div>
    <a class="badge badge-warning" routerLink="/boys/{{ currentBoy.id }}">
      Edit
    </a>
  } @else {<p>Please click on a person...</p>}
} @else {
  @if (currentBoy.id) {
    <div class="edit-form">
      <h4>Boy Dancer</h4>
      <form>
        <div class="form-group">
          <label for="b_name">Name</label>
          <input
            type="text"
            class="form-control"
            id="b_name"
            [(ngModel)]="currentBoy.b_name"
            name="b_nanme"
          />
        </div>
        <div class="form-group">
          <label for="b_b_year">Birth year</label>
          <input
            type="text"
            class="form-control"
            id="b_b_year"
            [(ngModel)]="currentBoy.b_b_year"
            name="b_b_year"
          />
        </div>
        <div class="form-group">
          <h4>Dance Groups</h4>
          <ul class="list-group">
            @for (dance_group of currentBoy.dance_group; track dance_group.id; let i = $index) {
              <li
                class="list-group-item"
              >
                {{ dance_group.name }}
              </li>
            }
          </ul>
        </div>
      </form>

      <button class="badge badge-danger mr-2" (click)="deleteBoy()">
        Delete
      </button>

      <button
        type="submit"
        class="badge badge-success mb-2"
        (click)="updateBoy()">
        Update
      </button>
      <p>{{ message }}</p>
    </div>
  } @else {<p>Cannot access this person...</p>}
}
